= render 'shared/error_messages'
      
= f.label 'Nombre'
= f.text_field :name, class: 'form-control'

= f.label 'Apellidos'
= f.text_field :surname, class: 'form-control'
      
= f.label :email
= f.email_field :email, class: 'form-control'

= f.label 'Edad'
= f.text_field :age, class: 'form-control'

= f.label 'Faixa'
= f.select :belt, @faixas, {}, class: 'form-control'

= f.label 'Role'
= f.select :role, @roles, {}, class: 'form-control'

- if f.object.new_record?
  = f.label :password
  = f.password_field :password, class: 'form-control'
  = f.label :password_confirmation, 'Confirmation'
  = f.password_field :password_confirmation, class: 'form-control'
  