//%p#notice= notice
- provide(:title, 'Usuarios')
%h1 Usuarios

#search_form
  = simple_form_for :search, label: 'nombre', url: users_path, method: :get, html: { class: 'form-inline' } do |f|
    = f.input :name, input_html: { value: '' }, label: false
    = f.submit 'Buscar', class: 'btn btn-primary', id: 'search_button'

#users_list
  = render 'users_list'
  
- if @current_user&.admin?
  %br/
  = link_to 'Crear', new_user_path, class: 'btn btn-primary'
