%p#notice= notice
%h1 Users

= will_paginate
%table.table.table-hover
  %thead
    %tr
      %th
      %th Nombre 
      %th Apellido
      %th Email
      %th Edad
      %th Faixa
  %tbody
    .users
      = render @users

= will_paginate
- if @current_user&.admin?
  %br/
  = link_to 'Create user', new_user_path, class: 'btn btn-primary'