- provide(:title, @user.name)
.row
  %aside.col-md-4
    %section.user_info
      %h1
        = gravatar_for @user
        %div
          = @user.name
        %div
          = @user.surname
      = image_tag('faixa_Branca.png', alt: 'White belt', class: 'belt')

%p#notice= notice
%div
  %p
    %span.glyphicon.glyphicon-envelope
    = @user.email
  -if @user.age.present?
    %p
      %span.glyphicon.glyphicon-gift
      = @user.age
  %p
    -case @user.belt
    -when 'Branca'
      %span.glyphicon.glyphicon-pawn
      = @user.belt
    -when 'Azul'
      %span.glyphicon.glyphicon-knight
      = @user.belt
    -when 'Roxa'
      %span.glyphicon.glyphicon-bishop
      = @user.belt
    -when 'Marrom'
      %span.glyphicon.glyphicon-tower
      = @user.belt
    -when 'Preta'
      %span.glyphicon.glyphicon-queen
      = @user.belt
  %p= @user.role
.form-actions
= link_to 'Atrás', users_path, class: 'btn btn-light btn-sm'
= link_to 'Editar', edit_user_path(@user), class: 'btn btn-primary btn-sm'
