%footer.footer
  %small
    = link_to image_tag('bbj_logo.png', alt: 'BJJ logo'), 'http://barcelonajiujitsu.com/', target: '_blank', id: 'logo'
  %nav
    %ul
      %li= image_tag('https://lipis.github.io/flag-icon-css/flags/4x3/br.svg', alt: 'Brazil flag', size: 30, class: 'flag')
      %li= image_tag('https://lipis.github.io/flag-icon-css/flags/4x3/es.svg', alt: 'Spain flag', size: 30, class: 'flag')
      %li= link_to 'About', about_path
      %li= link_to 'Contact', contact_path
