%header.navbar.navbar-fixed-top.navbar-inverse
  .container
    //= link_to image_tag('bbj_logo.png', alt: 'BJJ logo'), 'http://barcelonajiujitsu.com/', target: '_blank', id: 'logo'
    = link_to 'BCN Jiu Jitsu', root_path, id: 'logo'
    %nav
      %ul.nav.navbar-nav.navbar-right
        %li= link_to 'Home', root_path
        %li= link_to 'Ayuda', help_path
        - if logged_in?
          %li= link_to 'Usuarios', users_path
          %li= link_to 'Aulas', trainings_path
          //= gravatar_for @current_user
          %li.dropdown
            %a.dropdown-toggle{'data-toggle' => 'dropdown', href: '#'}
              = gravatar_for(current_user, size: 40, type: 'gravatar_header')
              %b.caret
            %ul.dropdown-menu
              %li= current_user.name
              %li.divider
              %li= link_to 'Perfil', current_user
              %li= link_to 'Ajustes', edit_user_path(current_user)
              %li.divider
              %li= link_to 'Sign out', logout_path, method: :delete
        - else
          %li= link_to 'Sign in', login_path